/Trunk/Logs
/Trunk/obj
/Trunk/.vs
/Trunk/Library
/Trunk/Unity.TextMeshPro.csproj
/Trunk/Unity.TextMeshPro.Editor.csproj
/Trunk/Unity.Timeline.csproj
/Trunk/Unity.Timeline.Editor.csproj
/Trunk/Unity.VSCode.Editor.csproj
/Trunk/UnityEditor.TestRunner.csproj
/Trunk/UnityEngine.TestRunner.csproj
/Trunk/Assembly-CSharp.csproj
/Trunk/Assembly-CSharp-Editor.csproj
/Trunk/Trunk.csproj
/Trunk/Trunk.Editor.csproj
/Trunk/Trunk.sln
/Trunk/Unity.CollabProxy.Editor.csproj
/Trunk/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Trunk/Unity.RenderPipelines.Core.Editor.csproj
/Trunk/Unity.RenderPipelines.Core.Runtime.csproj
/Trunk/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Trunk/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Trunk/Unity.RenderPipelines.Universal.Editor.csproj
/Trunk/Unity.RenderPipelines.Universal.Runtime.csproj
/Trunk/Unity.RenderPipelines.Universal.Shaders.csproj
/Trunk/Unity.Rider.Editor.csproj
/Trunk/Unity.ShaderGraph.Editor.csproj
/Trunk/Unity.ShaderGraph.Utilities.csproj
